<div class = "container">

	<!--Banner-->
	<div id = "header"> Humam Resources Applicant Finder </div>
	
	<!--Button-->
	<div class = "row" id="start">
		<button type="button" class="btn btn-success" id = "btnStart">New Applicant</button>
	</div>




</div>


